$abbey: #44474b;
$blue: #3b9ad5;

$black-squeeze: #ecf2f8;
$domino: #998563;
$bali-hai: #8ca3b5;
$nobel: #b4aaa8;
$heather: #bcc8d2;
$tide: #bab6b1;
$brink-pink: #fc747c;

$color_background: #edf5fa; // required*
$color_secondary: #f05454;

$color_black: #171010;

$color_font: #525252;
$color_heading: #2b2b2b;
$color_Sub_heading: #323232;

// https://medium.com/swlh/full-text-styling-with-a-single-line-of-css-838e8c666f4d

$font_h1: 500 1.25rem/125% "Source Sans Pro", sans-serif;
$font_h: 500 1rem/150% "Source Sans Pro", sans-serif;
$font_p: 400 1rem/125% "Source Sans Pro", sans-serif;

$Mobile: 288px;
$Tab: 480px;
$Desktop-S: 1024px;
$Desktop-L: 1200px;
